<body class="text-center">
    <div class="circle">
        Mon Text
    </div>
  <form>
    <h1 class="h3 mb-3 font-weight-normal">Authentifiez-vous !</h1>
    <input type="email" id="inputEmail" class="form-control" placeholder="Adresse Email" required autofocus>
    <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="Se souvenir de moi"> Se souvenir de moi
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>
</body>